[Unit]
Description=Metarax, The Monitoring Daemon

[Service]
ExecStart=/usr/bin/metarax.py
KillSignal=SIGTERM
KillMode=process
PIDFile=/var/tmp/metarax.pid
User=metarax
Group=metarax

[Install]
WantedBy=multi-user.target
